@font-face {
    font-family: Arvo; 
    src: url('arvo/arvo-regular.ttf');
}

*{  
    overflow-x: hidden;
    font-family: Arvo;
    padding: 0;
    margin: 0;
}

.sticky {
    position:fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.header-main{
    width:100%;
    background: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.header-right-main, .header-left-main{
    display: block;
    background: whitesmoke;
}

.page-icon{
    display: none;
}

.page-title{
    display:block;
    font-size:25px;
    line-height: 70px;
    text-align: center;
}

.searchForm{
    width: 100%;
}

.searchForm input{
    margin: 2px auto;
    display: block;
    width: 95%;
}

.searchForm input[type='submit']{
    color: white;
    font-weight: bold;
    display: block;
    padding:15px 0;
    font-weight: bold;
    background: DodgerBlue;
    border: 1px solid lightgrey;
    
}
.searchForm input[type='text']{
    padding: 15px 0;
    font-size: 14px;
    text-indent: 10px;
    outline: none !important;
    border:1px solid lightgrey;
}

.searchForm input[type='text']:focus {
    border:1px solid blue;
}

.section-one{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-flow: column-reverse wrap;
}

.section-one .left{
    padding-top: 10px;
}

.section-one .left p{
    margin: auto;
    padding: 40px 0;
    font-size: 18spx;
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    background: whitesmoke;

}

.section-one .right {
    padding-top: 50px;
}

.section-one .right > img {
    width: 320px;
    height: 250px;
    margin: auto;
    display: block;
}

.section-two{
    padding: 5px;
}

.section-two .recipe-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}


.section-two .recipe-container .m-display{
    color: white;
    height: 320px;
    position: relative
}

.section-two .recipe-container .m-display .r-title{
    display: block;
    font-size: 1.8rem;
    text-align: center;
    padding: 1.5rem 0;
    
}

.section-two .recipe-container .m-display .m-view-recipe{
    width:96%;
    color: white;
    display: block;
    padding:15px 0;
    font-weight: bold;
    background: DodgerBlue;
    border: 1px solid lightgrey;
    position: absolute;
    bottom: 2%;
    left: 2%;
}

.section-two .recipe-container .left{
    display: none;
}

header.detail-header{
    background: whitesmoke;
    position: fixed;
    height: 5.0rem;
    width: 100%
}

header.detail-header .detail-title{
    height: 5.0rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 5.0rem;
}

.detail-recipe-container{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
                            url("../_myImage.jpg") no-repeat fixed top;
    background-size: cover;
    padding-top: 6.0rem;
    min-height:90vh;
    width: 100%;
}

.detail-recipe-container .r-container{
    width: 80%;
    margin: auto;
    color: white;
}

.detail-recipe-container .r-container h1,
.detail-recipe-container .r-container p {
    margin-bottom: 1.5rem;
    text-align: center;
}

#u-tube-container{
    display: flex;
    padding: 1.0rem;
    flex-flow: column-reverse wrap;
}

#u-tube-container .r-meta{
    color: white;
    display: flex;
    flex-flow: column wrap;
    margin-top: 2.0rem;
    overflow: hidden;
}

#u-tube-container .r-meta h1{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

#u-tube-container .r-meta p{
    padding: 20px 0 0 20px;
    line-height: 2.8rem;
}

#u-tube-container .r-meta p span{
    font-size: 1.2rem;
    font-weight: bold;
}

#u-tube-container iframe{
    display: block;
    height: 250px;
}

.footer-main{
    color: white;
    padding: 20px;
    height: auto;
    overflow: hidden;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.footer-main span{
    margin-bottom:10px;
    display: block;
    font-size:1.0rem; 
}

.footer-main .at-copy-right{
    font-size:0.6rem; 
}
/* <!-- Style font awesome icons --> */
.fa {
  padding: 1.0rem;
  font-size: 1.0rem;
  width: 1.0rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin:5px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}